---
layout: default
title: Study Insights
---

<h2>{{ page.title }}</h2>

<p>This page contains scripture study insights from me and others intended to be a supplement to your own scripture
    study.
</p>
<hr>
<!-- Prints the first 5 posts tagged 'cfm' or 'studyinsights' regardless of what other posts may be in the top 5 -->
{% assign count = 0 %}
{% for post in site.posts %}
{% if post.tags contains 'cfm' or post.tags contains 'studyinsights' %}
{% include post-display.html %}
{% assign count = count | plus: 1 %}
{% endif %}
{% if count >= 5 %}
{% break %}
{% endif %}
{% endfor %}

<p>Image of open scriptures from The Church of Jesus Christ of Latter-day Saints</p>
<a
    href="https://www.churchofjesuschrist.org/topics/priesthood/scriptures?lang=eng">https://www.churchofjesuschrist.org/topics/priesthood/scriptures?lang=eng</a>

<!-- Pager -->
<ul class="pager">
    <li>
        <a href="/archive/insights">Post Archive</a>
    </li>
</ul>