---
layout: archive
title: Study Insights by Date
---

<!-- Essentially sorting the posts by year and adding headings -->
{% assign grouped_posts = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
{% assign group_names = "" %}
{% for group in grouped_posts %}
{% assign group_names = group_names | append: group.name | append: "," %}
{% endfor %}
<!-- The keyword "reverse" after "sort" tells the code to put the newest date on top instead of the bottom. -->
{% assign sorted_group_names = group_names | split: "," | sort | reverse %}
{% for name in sorted_group_names %}
{% assign group = grouped_posts | where: "name", name | first %}
{% assign show_group = false %}
{% for p in group.items %}
{% if p.tags contains 'cfm' or p.tags contains 'studyinsights' %}
{% assign show_group = true %}
{% break %}
{% endif %}
{% endfor %}
{% if show_group %}
<h2 id="{{ group.name }}">{{ group.name }}</h2>
{% endif %}
<ul>
  {% for post in group.items %}
  {% if post.tags contains 'cfm' or post.tags contains 'studyinsights' %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> - <i>{{ post.date | date: "%B %-d, %Y" }}</i></li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}